<div class="row">
  <div class="col-md-12">
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">Draw No Bet</div>
  </div>
  <div class="portlet-body">
    <table class="table table-bordered table-striped table-condensed table-equal">
			<div class="row"> 
				<tbody>
					<tr class="table-center">
						<td colspan="3">
							<%= link_to(tdashboard_picks_path(match_id: @match.id, odds: @match.odds.homeaway.last.homewin, team: @match.home_team, bettype: "HomeAway", bet: "1"), method: :post, remote: true) do %>
               <%= @match.home_team %> <%= sprintf('%.2f', @match.odds.homeaway.last.homewin) %>
               <% end %>
							
            </td>
						<td colspan="3">
							<%= link_to(tdashboard_picks_path(match_id: @match.id, odds: @match.odds.homeaway.last.awaywin, team: @match.away_team, bettype: "HomeAway", bet: "2"), method: :post, remote: true) do %>
               <%= @match.away_team %> <%= sprintf('%.2f', @match.odds.homeaway.last.awaywin) %>
               <% end %>
							
            </td>
           </tr>
         </tbody>
      </div>
    </table>
  </div>
</div>
</div>
</div>