			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Dashboard<small>#</small></h1>
				</div>
				<!-- END PAGE TITLE -->
			</div>
        
      <div class="row">
          <%= render 'stats' %>
					<%= render 'depth_stats'%>
	    		</div>
          <%= render 'statistic_chart' %>
  	    	<%= render 'achievements' %>
          <%= render 'pending_features' %>

			<!-- END TOP MATCHES-->
		
		</div>
    
  